

header {
    background-color: blueviolet;
    color: white;
    padding: 30px 0 30px 10px;
    border: solid 4px;
    border-color: black;
    margin: 40px;

}

h1 {
    padding-left: 30px;
}

header ul {
    display: inline-block;
    list-style: none; 

}